# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.pyc
venv/

# Logs
logs/
*.log

# Models (IMPORTANT)
models/
*.model

# OS
.DS_Store
Thumbs.db

# Env
.env

# Memory (optional)
memory/memory_store.json
